<h2>新規投稿</h2>

<%= form_with model: @post do |f| %>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>観察日時</h4>
  <%= f.text_field :observed_at %>
  <h4>種名</h4>
  <%= f.text_field :name %>
  <h4>ノート</h4>
  <%= f.text_area :note %>
  <h4>生育ステータス（任意）</h4>
  <%= text_field_tag :zipcode, nil, placeholder: "郵便番号" %>
  <%= f.text_field :address, placeholder: "住所" %>
  <%= f.submit '投稿' %>
  <%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
  
<% end %>
